
.form {
    background: var(--bgcolor);
    /* color: var(--color2); */
}

.form ul {
    padding: 10px 10px;
}

.form ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.form label{
    padding: 10px 5px;
    width: 45%;
    color: var(--white);
}


.form ul li input {
    border: 3px solid var(--color2);
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    font-size: 13px;
    color: var(--white);
    background: rgba(255, 255, 255, 0.199);
    box-sizing: border-box;
}

.form ul li input:focus {
    border: 3px solid var(--white);
    background: #026977;
}

.button_design {
    width: 100px;
    margin: 0 3px;
    /* margin-bottom: 5px; */
    padding: 8px 8px;
    color: var(--white);
    background: var(--color2);
    border-radius: 15px;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: all linear 0.3s;
    cursor: pointer;
    /* font-size: 13px; */
    /* font-weight: 550; */
}

.button_design:hover{
    background: var(--transparent);
    color: var(--color3);
    border: 3px solid var(--color2);

}

.lg-btn{
    width: 150px;
    margin: 5px 10px;
    padding: 12px 12px;
    font-size: 16px;
    background: var(--transparent);
    /* background: var(--white); */
    color: var(--white);
    border: 3px solid var(--color2);
}

.lg-btn:hover{
    color: var(--white);
    background: var(--color2);
    border: 3px solid var(--gradient);
}


.red{
    color: var(--white);
    background: var(--color3);
    font-size: 20px;
    font-weight: 700;
    border: 3px solid var(--color3);
}

.red:hover{ 
    color: var(--color3);
    background: var(--transparent);
    border: 3px solid var(--color3);
}


/*      Result Part        */


.hr{
    margin-top: -10px;
    border-bottom: 6px solid var(--color1);
}

#list{
    padding: 5px;
    /* border: 1px solid gray; */
    margin-top: 5px;
}
#list li{
    padding: 5px;
    border-bottom: 1px solid gray;
    color: var(--white);
}
